# See http://help.github.com/ignore-files/ for more about ignoring files.
# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
node_modules/
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
package-lock.json

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
yarn.lock
cypress/e2e/1-getting-started/todo.cy.js
cypress/e2e/2-advanced-examples/actions.cy.js
cypress/e2e/2-advanced-examples/aliasing.cy.js
cypress/e2e/2-advanced-examples/assertions.cy.js
cypress/e2e/2-advanced-examples/connectors.cy.js
cypress/e2e/2-advanced-examples/connectors.cy.js
cypress/e2e/2-advanced-examples/window.cy.js
cypress/e2e/2-advanced-examples/waiting.cy.js
cypress/e2e/2-advanced-examples/waiting.cy.js
cypress/e2e/2-advanced-examples/viewport.cy.js
cypress/e2e/2-advanced-examples/utilities.cy.js
cypress/e2e/2-advanced-examples/traversal.cy.js
cypress/e2e/2-advanced-examples/traversal.cy.js
cypress/e2e/2-advanced-examples/storage.cy.js
cypress/e2e/2-advanced-examples/spies_stubs_clocks.cy.js
cypress/e2e/2-advanced-examples/querying.cy.js
cypress/e2e/2-advanced-examples/querying.cy.js
cypress/e2e/2-advanced-examples/network_requests.cy.js
cypress/e2e/2-advanced-examples/navigation.cy.js
cypress/e2e/2-advanced-examples/misc.cy.js
cypress/e2e/2-advanced-examples/location.cy.js
cypress/e2e/2-advanced-examples/files.cy.js
cypress/e2e/2-advanced-examples/cypress_api.cy.js
cypress/e2e/2-advanced-examples/cypress_api.cy.js
cypress/e2e/2-advanced-examples/cookies.cy.js
