<div>
    <h1> Wi-Key Subject: {{ wiki.name }}</h1>
    <h2 class="text-align:center"><span [class]="compare(letter, usrText[i], i)" *ngFor="let letter of wiki.text.split(''); let i = index">{{ letter }}</span></h2>
</div>
<hr>
<div style="text-align:center">
    <p>Text Length: {{ usrText.length }} || # of Correct Keystrokes: {{ correct }} || # of Mistakes: {{ errors }}</p>

    <form #userForm="ngForm">
        <div class="form-group">
            <label></label>
            <textarea 
            (keydown)="onInputChange($event)"
            class="input" 
            value={{usrInpt}} 
            name="input"
            placeholder="Start Typing" 
            [(ngModel)]="usrText"></textarea>
    <div class="simple-keyboard"></div>
        </div>
    </form>
    
</div>