<mat-card class="articles-card">
    <mat-card-header>
    <h2>
        Articles
    </h2>
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>Title</th>
                <td mat-cell *matCellDef="let article">{{article.title}}</td>
            </ng-container>
            <ng-container matColumnDef="url">
                <th mat-header-cell *matHeaderCellDef>URL</th>
                <td mat-cell *matCellDef="let article">{{article.url}}</td>
            </ng-container>
            <ng-container matColumnDef="length">
                <th mat-header-cell *matHeaderCellDef>Length</th>
                <td mat-cell *matCellDef="let article">{{article.length}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>
